<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para DELETE</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilosdelete.css">
</head>
<body>
    <div class="container">
        <h2 class="my-3">Eliminar producto</h2>
        <div id="cajaform" class="mt-3">
            <form id="formuget">
                <div class="row mb-3">
                    <label for="dato1" class="col-sm-2 col-form-label">Nombre:</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="dato1">
                    <button type="submit" class="btn btn-primary mt-3" id="enviar">Consultar</button>
                    <a href="../index.html">
                        <button type="button" class="btn btn-primary mt-3" id="reg">Regresar</button>
                    </a> 
                    </div>
                </div>
                
            </form>
        </div>
    
    <div id="infoget" class="mt-4">
    <table class="table">
        <thead>
            <tr id="encabezados">
                <th scope="col" id="dato">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <th scope="row" id="idp"></th>
                <td id="nombrep"></td>
                <td id="descripcionp"></td>
                <td id="preciop"></td>
                <td id="cantidadp"></td>
                <td id="btndel"></td>
            </tr>
            <tr id="confirm">
                
            </tr>
        </tbody>
    </table>
    </div>

    </div>
    <script src="../js/bootstrap.min.js"></script>
    <!-- <script src="./js/bootstrap.bundle.min.js"></script> -->
    <script src="../js/scriptdelete.js"></script>
</body>
</html>